<div class="back_home">
  <%= link_to "Back To Home Page", root_path %>
</div>


<center>
<div class="header_sign_up">
<h1>New Precipitation</h1>
</div>
<%= render 'form' %>

<%= link_to 'Back', precipitations_path %>