<%= link_to "PLAY AGAIN", root_path %>
<br>
<br>
<br>
<h3>Your Guesses Are:</h3>
<p>Start:&nbsp;&nbsp;&nbsp;<%=" #{@start_word}" %><br>
<% @steps.each.with_index(1) do |x, index| %>
<%= "Step #{index}: " + x %><br>
<%end%>
End:&nbsp;&nbsp;&nbsp;&nbsp; <%= "#{@end_word}" %></p>
