<div class="back_home">
  <%= link_to "Back To Home Page", root_path %>
</div>
<center><div class="header_sign_up">
<h1>Editing Drought</h1>
</div></center>
<%= render 'form' %>
<div class="back_button_black">
<%= link_to 'Back', droughts_path %>
</div>
