<p id="notice"><%= notice %></p>

<div class="back_home">
  <%= link_to "Back To Home Page", root_path %><br>
<center>-or-</center>
<%= link_to 'Back', droughts_path %> 
</div>
<center><div class="header_sign_up">
<h1>Droughts Graph Page</h1>
</div></center>


<%= high_chart("my_id3", @chart2)  %>


