body { 
background-image: url(image_path('Drought.jpg'));
background-size: 130%;
 
}

div.notice {
    background-color: yellow;
}

div.signed_in {
    background-color: gray;
    text-align: left;
    width: 350px;
}

div.signed_in {
    background-color: gray;
    text-align: left;
    width: 350px;
}

div.signed_up_and_in {
    background-color: gray;
    text-align: left;
    width: 120px;
}

div.header_orange {
    background-color: orange;
    width: 900px;
    color: white;
    padding: 5px;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 25px;
}

div.back_button_black {
    background-color: orange;
    width: 100px;
    color: red;
    padding: 5px;
    text-align: center;
}
div.gif_header_black {
    background-color: black;
    width: 500px;
    color: red;
    padding: 5px;
    text-align: center;
}

#main_container {
 width: 1000px;
 height: 350px;
 margin: 10px auto;
 /*border: 2px solid #cccccc;*/
 padding: 5px;
}

.mission_box {
 background-color: white;
 float: left;
 height: 300px;
 width: 600px;
 padding: 10px;
 border: 1px solid black;
 margin: 10px;
 text-align: center;
 border-radius: 25px;
}

.droughts_box {
 background-color: white;
 float: center;
 width: 600px;
 padding: 10px;
 border: 1px solid black;
 margin: 10px;
 text-align: center;
 border-radius: 25px;
}
.sign_in_box {
 background-color: white;
 float: right;
 width: 300px;
 padding: 10px;
 border: 1px solid black;
 margin: 10px;
 text-align: center;
 border-radius: 25px;
}
div.box {
    background-color: grey;
    width: 220px;
    padding: 5px;
    margin: 10px;
    text-align: center;   
}

#gif_container {
 width: 1150px;
 margin: 5px auto;
 padding: 1px;
}

.drought_box {
 background-color: black;
 float: left;
 height:350px;
 width: 350px;
 padding: 10px;
 border: 1px solid black;
 margin: 5px;
 text-align: center;
}

.precipitation_box {
    background-color: black;
 float: left;
 height: 350px;
 width: 350px;
 padding: 10px;
 border: 1px solid black;
 margin: 5px;
 text-align: center;
}

.temperature_box {
 background-color: black;
 float: left;
 height: 350px;
 width: 350px;
 padding: 10px;
 border: 1px solid black;
 margin: 5px;
 text-align: center;
}

