<center><h1>Editing Tag</h1>
<div class="box">
<%= render 'form' %>
<%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<%= link_to 'Back to Listing Images', root_path %>
