<center><p id="notice"><%= notice %></p>
<center>
<h2>TAG</h2>

<div class="box">
  <strong>This tag is:</strong>
<font color="blue"><%= @tag.str %></font>
</div>
<p>
<%= link_to 'Back To Tag Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back to Listing Images', root_path %> 
</p>

